numpy==1.26.1
pandas==2.1.2
torch==1.13.1
pytrec-eval-terrier==0.5.6
adapter-transformers==3.2.1
accelerate==0.24.1
sentence-transformers==2.2.2
tensorboard==2.7.0
gensim==4.3.2
fasttext==0.9.2
spacy==3.7.2
seaborn==0.11.2
dash==2.3.0
wordcloud==1.8.2.2
datasets==1.18.4
duckdb==0.8.1
protobuf==3.20.3
typing_extensions<4.6.0